body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

input[type="text"],
input[type="email"] {
  border: 2px solid #000;
  margin: 0 0 1em 0;
  padding: 10px;
  width: 100%;
}

input[type="submit"] {
  border: 3px solid #333;
  background-color: #999;
  border-radius: 5px;
  padding: 10px 2em;
  font-weight: bold;
  color: #fff;
}

input[type="submit"]:hover, 
input[type="submit"]:focus {
  background-color: #333;
}

.buttons {
  justify-content: center;
}

form > div {
  display: flex;
}

label {
  width: 10em;
}

/* Ensure that your form fields use the font defined on the body, 
or on a parent element*/

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* set margins and padding to 0 on all elements */
button,
input,
select,
textarea {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}