html {
    background-color: green;
    font-size: 20px;
    font-family: "Open Sans" sans-serif;
}

#dynamic_list {
    background: red;
    padding: 10px;
    border: 1px solid black;
}

li {
    margin-left: 20px;
}

#dynamic_list_title {
    font-weight: bold;
    font-size: 30px;
}