/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* font imports */

/*

Lovato light font obtained from fontspring.com,
originally created by Philatype
See https://www.fontspring.com/fonts/philatype/lovato

Josefin slab bold obtained from fontsquirrel.com,
originally created by Typemade
See https://www.fontsquirrel.com/fonts/josefin-slab

*/

/* generate bulletproof @font-face code for these two fonts. */

@font-face {
    font-family: 'lovatolight';
    src: url('../fonts/Lovato-Light-webfont.eot');
    src: url('../fonts/Lovato-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lovato-Light-webfont.woff2') format('woff2'),
         url('../fonts/Lovato-Light-webfont.woff') format('woff'),
         url('../fonts/Lovato-Light-webfont.ttf') format('truetype'),
         url('../fonts/Lovato-Light-webfont.svg#lovatolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin_slabbold';
    src: url('../fonts/josefinslab-bold-webfont.eot');
    src: url('../fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefinslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/josefinslab-bold-webfont.woff') format('woff'),
         url('../fonts/josefinslab-bold-webfont.ttf') format('truetype'),
         url('../fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* typography stuff */

/* Apply your body font to the whole page, and your heading font to your headings. */

html {
  /* Give the page a site-wide font-size of 10px*/
  font-size: 10px;
  font-family: lovatolight, serif;
}

h1, h2 {
  font-family: josefin_slabbold, sans-serif;
  /* Give your headings a little bit of letter-spacing to make them not too 
  squashed, and allow the letters to breathe a bit. */
  letter-spacing: 2px;
}

/* Give your headings and other element types appropriate font-sizes defined 
using a suitable relative unit. */

h1 {
  font-size: 5rem;
  /* Center your top level heading on the page. */
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

/* Give the first paragraph after each heading in the <section> a little bit of 
text-indentation, say 20px. */
section h2 + p {
  text-indent: 20px;
}

p, li {
  font-size: 1.6rem;
  /* Give your body text a suitable line-height. */
  line-height: 1.5;
  /* Give your body text some letter-spacing and word-spacing, as appropriate. */
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

/* Link styling */

a {
  outline: none;
}

/* Make it so that external links have the external link icon inserted next to them. */
a[href*="http"] {
  padding-right: 19px;
  background: url(../images/external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}

/* Give the link, visited, focus, and hover states some colors that go with 
the color of the horizontal bars at the top and bottom of the page. */

a:link, a:visited {
  color: #a66;
}

/* Make it so that links are underlined by default, but when you hover or focus them 
the underline disappears. */
a:focus, a:hover {
  text-decoration: none;
}

a:active {
  /* Remove the default focus outline from ALL the links on the page. */
  color: transparent;
  /* Give the active state a noticeably different styling so it stands out nicely, 
  but make it still fit in with the overall page design. */
  text-shadow: 0px 0px 1px #f00,
               0px 0px 2px #f00,
               0px 0px 3px black,
               0px 0px 4px black;
}

/* lists: extra margin top and bottom to make it
always have the same spacing as with paragraphs */

/* Make sure the spacing of your lists and list items works well with the 
styling of the overall page. Each list item should have the same line-height 
as a paragraph line, and each list should have the same spacing at its top 
and bottom as you have between paragraphs. */

ul, ol {
  margin: 1.6rem 0;
}

/* Give your list items a nice bullet appropriate for the design of the page. It is 
up to you whether you choose a custom bullet image or something else. */

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

/* nav menu */

/* Style your navigation menu so that it harmonizes with the page. */

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid #a66;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: #a66;
}

nav li a:active {
  color: white;
  background: black;
}