body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue,
  Helvetica,
  Arial,
  sans-serif;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.box {
  inline-size: 200px;
  writing-mode: horizontal-tb;
}

/* Change inline-start to inline-end to change the float. */
img{
  float: inline-start;
  margin-inline-end: 10px;
  margin-block-end: 10px;
}

