body {
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
    padding: 0;
    margin: 0;
}

ul,
p {
    border: 2px solid rebeccapurple;
}

li,
span {
    border: 2px solid blue;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.inline {
    display: inline;
}